/*
lightblue: #1ed2f4
yellow: #eafc40
mediumblue: #254558
darkblue: #2b2b3a
*/

.toDo.completed {
  text-decoration: line-through;
}
body {
  background-color: #1ed2f4;
}

.App {
  margin: 50px;
  padding: 50px;
  text-align: center;
  background-color: #254558;
  height: 95vh;
  color: white;
  font-family: "Raleway", sans-serif;
  border: 5px solid #eafc40;
  border-radius: 25px;
}

button {
  background-color: #eafc40;
  color: #2b2b3a;
  border: 2px solid #2b2b3a;
  border-radius: 25px;
}

input {
  border-radius: 25px;
}

.search {
  margin: 20px;
}
